#bangumi-oauth-container {
    margin-bottom: 32px;
}

#bangumi-oauth-container .bangumi-user-info,
#bangumi-oauth-container .bangumi-oauth-status {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 16px;
}

#bangumi-oauth-container .user-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    line-height: 48px;
}

#bangumi-oauth-container .user-avatar {
    background-color: #202020;
    height: 48px;
    width: 48px;
    margin-right: 8px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

#bangumi-oauth-container .user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bangumi-oauth-container .user-name {
    flex: 1;
}

#bangumi-oauth-container .profile-link {
    display: block;
    width: 48px;
    height: 48px;
    padding: 0;
    line-height: 48px;
}

#bangumi-oauth-container .bangumi-oauth-status:empty {
    display: none;
}

#bangumi-oauth-container .bangumi-oauth-status p {
    display: flex;
    margin: 0 8px;
    line-height: 42px;
}

#bangumi-oauth-container .bangumi-oauth-status .material-icons {
    margin-right: 8px;
    vertical-align: middle;
}

#bangumi-oauth-container .emby-button {
    margin: 0 12px 0 0;
}

#bangumi-oauth-container .material-icons {
    line-height: inherit;
}

#bangumiConfigurationPage div[data-role="content"] {
    overflow: inherit;
}

#bangumiConfigurationForm .submit-button-container {
    position: sticky;
    bottom: 0;
    z-index: 5;
    padding: 16px;
    margin: 0 -16px -16px;
    backdrop-filter: blur(16px);
}

#bangumiConfigurationForm * ~ .verticalSection {
    margin-top: 48px;
}

#bangumiConfigurationForm .sectionTitleContainer + .fieldDescription {
    margin-top: 0;
    margin-bottom: 16px;
}

#bangumi-archive-container {
    margin-bottom: 24px;
}

#bangumi-archive-container:not(.has-archive-data) .archive-data-required {
    display: none;
}

.bangumi-tab-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8em;
}

.bangumi-tab-header {
    display: flex;
    border-bottom: 1px solid #cccccc;
}

.bangumi-tab-header-button {
    background: none;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 1em;
    color: #888;
}

    .bangumi-tab-header-button.active {
        color: #5fafff;
        border-bottom: 2px solid #1976d2;
    }

.bangumi-tab-content {
    display: none;
    padding: 16px 0;
}

    .bangumi-tab-content.active {
        display: block;
    }
